# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# System
.DS_Store

# Project data
data/datasets/
data/tokenizers/
data/manifest.json
data/docs_selected.jsonl

# Logs
logs/
*.log

# Model artifacts (important)
final_model.pt
final_model.int8.ptz
*.pt
*.ptz
*.bin

# Temp / checkpoints
checkpoints/
*.ckpt

# Caches
.mypy_cache/
.cache/

# External repos
modded-nanogpt/
modded-nanogpt